<center>
  <div class="center jumbotron">
    <h1>Welcome to Inventory Management</h1>
  </div>
  <li><%= link_to 'Add Category', new_category_path%><br></li>
  <li><%= link_to 'List of categories', controller: 'categories' %></li>
</center>
<%# <%= link_to 'List of items', controller: 'items' %>
<%# link_to 'Low stock items',controller: 'items' %>

