<h1>Inventory management</h1>
<%= link_to 'Add Category', new_category_path%><br>
<%= link_to 'List of categories', controller: 'categories' %>
<%# <%= link_to 'List of items', controller: 'items' %>
<%# link_to 'Low stock items',controller: 'items' %>

